[submodule "examples/dependencies/argtable"]
	path = examples/dependencies/argtable
	url = git@github.com:argtable/argtable3.git
[submodule "dependencies/libycres"]
	path = dependencies/libycres
	url = git@github.com:yellowcake-org/libycres.git
